.idea
.gradle
cloud/src
common/src
config/src
core/src
interface/src
model/src
service/src
task/src
web/src
**/build
*.iml
**/out
keys
**/bin
**/.settings
**/.project
**/.classpath
.project

**/bitcoin-wallet.spvchain
**/bitcoin-wallet.wallet